<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountsVersion</key>
	<integer>3</integer>
	<key>ActiveEditors</key>
	<array/>
	<key>ActiveSingleViewers</key>
	<array/>
	<key>ActiveViewers</key>
	<array>
		<dict>
			<key>DisplayInThreadedMode</key>
			<string>no</string>
			<key>SearchPopupTag</key>
			<integer>4</integer>
			<key>SearchSortDescending</key>
			<true/>
			<key>SearchSortOrder</key>
			<string>rank</string>
			<key>SelectedMailboxes</key>
			<array>
				<string>Inbox</string>
			</array>
			<key>ShowDeletedMessages</key>
			<false/>
			<key>SortOrder</key>
			<string>received-date</string>
			<key>SortedDescending</key>
			<true/>
			<key>ToolbarIsHidden</key>
			<false/>
			<key>ViewerNumber</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>AddInvitationsToICalAutomatically</key>
	<false/>
	<key>CalSuccessfulLaunchTimestampPreferenceKey</key>
	<real>293716768</real>
	<key>IMAPServerPrefixesMirrorFilesystem</key>
	<true/>
	<key>JunkMailBehavior</key>
	<integer>1</integer>
	<key>Locations</key>
	<array>
		<dict>
			<key>AccountDefaults</key>
			<dict/>
			<key>Identities</key>
			<dict>
				<key></key>
				<array>
					<string></string>
				</array>
			</dict>
		</dict>
	</array>
	<key>MailAccounts</key>
	<array>
		<dict>
			<key>AccountName</key>
			<string>email</string>
			<key>AccountPath</key>
			<string>~/Library/Mail/EWS-shortname@fqdn</string>
			<key>AccountType</key>
			<string>EWSAccount</string>
			<key>EmailAddresses</key>
			<array>
				<string>user.name@domain.com</string>
			</array>
			<key>FullUserName</key>
			<string>Full Name</string>
			<key>Hostname</key>
			<string>FQDN of server</string>
			<key>InternalServerPath</key>
			<string>Server Root Path</string>
			<key>SMTPIdentifier</key>
			<string>EWSDelivery</string>
			<key>SSLEnabled</key>
			<string>YES</string>
			<key>StoreDraftsOnServer</key>
			<string>YES</string>
			<key>StoreSentMessagesOnServer</key>
			<string>YES</string>
			<key>ToDosCalendarsGroupUID</key>
			<array>
				<string>user.name@domain.com</string>
				<string>76CFD8D9-FBDB-4FCC-8A90-9CCDEC6C9D05</string>
			</array>
			<key>Username</key>
			<string>user</string>
			<key>uniqueId</key>
			<string>UUID</string>
		</dict>
	</array>
	<key>MailSections</key>
	<array>
		<string>MailboxesSection</string>
		<string>local:///</string>
		<string>ews://shortname@fqdn/</string>
	</array>
	<key>MailShowNotes</key>
	<false/>
	<key>MailShowToDos</key>
	<false/>
	<key>MailVisibleSections</key>
	<array>
		<string>MailboxesSection</string>
	</array>
	<key>OutboxMailboxPath</key>
	<string>~/Library/Mail/Mailboxes/Outbox.mbox</string>
</dict>
</plist>
